body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    position: relative; /* Добавлено для звездного фона */
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('stars.jpg') repeat; /* Замените 'stars.jpg' на ваше изображение звезд */
    opacity: 0.8;
    pointer-events: none; /* Запрет взаимодействия с фоновым изображением */
}

body:hover::before {
    animation: stars 120s linear infinite;
}

#main-container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin-top: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

a {
    color: #00ff33; /* Замените этот цвет на желаемый */
    text-decoration: none; /* Убирает подчеркивание ссылок, если необходимо */
  }
  
  a:hover {
    color: #ff0000; /* Цвет при наведении на ссылку */
  }
  
th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

@keyframes stars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
@media only screen and (max-width: 768px) {
    header {
        padding: 5px;
    }

    nav ul li {
        margin-right: 10px;
    }

    section {
        margin-top: 10px;
    }

    article img {
        margin-top: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}